/* GENERAL */

@import url(https://fonts.google.com/specimen/Poppins?query=popp);

*{
    background-color: rgb(212, 224, 227); /*Fondo de pagina*/
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(30, 48, 97);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}

a {
    color: rgb(99, 97, 152);
    text-decoration: none;
    text-decoration-color: rgb(246, 244, 244);
}

a:hover { 
    color: rgb(154, 151, 151);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo:hover {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

.title {
    font-size: 3rem;
    text-align: center;
}

/*BUTTONS*/

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-2 {
    border: rgb(4, 152, 215) 0.1rem solid;
}

.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-2:hover {
    background: rgb(37, 213, 244);
    color: rgb(42, 245, 103);
}


.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/*ABOUT SECTION*/

#about {
    position: relative;
}

.about-container {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers{
    display: flex;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: rgb(238, 238, 238);
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(56, 7, 231);
    text-align: center;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.color-container {
    border-color: rgb(38, 17, 220); /*color de bordes*/
    background: rgb(212, 224, 227);
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: black;
}

.project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
}

footer {
    height: 26vh;
    margin: 0 1rem
}

footer p {
    text-align: center;
}

.p1{
    text-align: justify;
}